.Projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 25%;
    margin-top: 100px;
}

@media screen and (min-width: 650px) and (max-width: 1440px) {
    .Projects {
        padding: 0px 20px;
        width: 90vw;
    }
}

@media screen and (max-width: 649px) {
    .Projects {
        padding: 0px 10px;
        width: 90%;
    }
}

.project-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.title {
    font-size: clamp(32px, 3.951vw + 16.593px, 64px);
    text-align: center;
    margin-top: -50px;
    margin-bottom: 74px;
}

.emphasis {
    color: #9748E5;
}
