.Landing {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    height: 100vh;
    margin: 0px 25%;
    padding: 10px;
    opacity: 0;
    transition: .75s ease-in-out;
}

.visible {
    opacity: 1;
}

h1 {
    font-size: 64px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
}

.emphasis {
    color: #9748E5;
}

.description {
    font-size: 32px;
    font-weight: 200;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 20px;
}

.socials {
    display: flex;
    margin-top: 20px;
}

.github, .linkedin {
    filter: brightness(0) invert(1);
    height: 32px;
    width: 32px;
    padding-right: 15px;
}

@media screen and (min-width: 650px) and (max-width: 1440px) {
    .Landing {
        margin: 0px 20px;
    }
    .landing-title {
        font-size: 48px;
    }
    .description {
        font-size: 24px;
    }
}

@media screen and (max-width: 649px) {
    .Landing {
        margin: 0px 10px;
    }

    .landing-title {
        font-size: 40px;
    }
    .description {
        font-size: 24px;
    }
}
