.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 50px 25%;
    padding: 10px;
}

@media screen and (min-width: 650px) and (max-width: 1440px) {
    .About {
        margin: 0px 12.5%;
    }
}

@media screen and (max-width: 649px) {
    .About {
        margin: 0px;
    }
}

.about {
    width: 100%;
    border-top: 2px solid #9748E5;
    border-bottom: 2px solid #9748E5;
    margin-bottom: 200px;
}

.about-img {
    width: 258px;
    height: 410px;
    background-color: grey;
    margin: 10px;
    float: left;
    vertical-align: middle;
}

.about-txt {
    margin: 10px;
    font-size: clamp(16px, 1.975vw + 8.296px, 32px);
    font-weight: 200;
    text-align: left;
}

.title-2 {
    margin-top: 200px;
    margin-bottom: 20px;
}

.emphasis {
    color: #9748E5;
}
