.About {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
    width: calc(100vw - 20% - 20px);
    min-height: 100vh;
    opacity: 0;
    transition: .75s ease-in-out;
}

.abt-subsection {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 28px;
}

.about-txt {
    font-weight: 200;
    text-align: left;
}

.left-title {
    font-size: 2em;
}

.right-title {
    font-size: 2em;
    text-align: center;
}

.tech-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

.icon-description {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 20px;
    transition: .5s ease-in;
}

.icon-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-devicon {
    font-size: 64px;
    transition: .25s ease-in-out;
}

@media screen and (min-width: 650px) and (max-width: 1440px) {
    .About {
        padding: 0px 20px;
    }
}

@media screen and (min-width: 650px) and (max-width: 1200px) {
    .About {
        flex-direction: column;
    }

    .abt-subsection {
        width: 66%;
    }
}

@media screen and (max-width: 649px) {
    .About {
        width: calc(100%-20px);
        padding: 0px 10px;
        flex-direction: column;
    }

    .abt-subsection {
        width: 90%;
    }

    .icon-description {
        font-size: 16px;
    }

    .my-devicon {
        font-size: 48px;
    }

    .left-title {
        font-size: 48px;
        text-align: center;
    }

    .right-title {
        font-size: 48px;
    }

    .about-txt {
        font-size: 24px;
        text-align: center;
    }
}

.visible {
    opacity: 1;
}

.about {
    width: 100%;
    border-top: 2px solid #9748E5;
    border-bottom: 2px solid #9748E5;
    margin-bottom: 200px;
}

.emphasis {
    color: #9748E5;
}

.html5:hover {
    color: #e54d26;
}

.css3:hover {
    color: #3d8fc6;
}

.javascript:hover {
    color: #f0db4f;
}

.react:hover {
    color: #61dafb;
}

.redux:hover {
    color: #764abc;
}

.jest:hover {
    color: #99425b;
}

.node:hover {
    color: #83cd29;
}

.express:hover {
    color: #666d69;
}

.mongodb:hover {
    color: #4faa41;
}
