.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0 25%;
    height: 100vh;
    margin-top: 100px;
    opacity: 0;
    transition: .75s ease-in-out;
}

.visible {
    opacity: 1;
}

@media screen and (min-width: 650px) and (max-width: 1440px) {
    .About {
        padding: 0px 20px;
    }
}

@media screen and (max-width: 649px) {
    .About {
        padding: 0px 10px;
    }
}

.about {
    width: 100%;
    border-top: 2px solid #9748E5;
    border-bottom: 2px solid #9748E5;
    margin-bottom: 200px;
}

.about-img {
    width: 50px;
    height: 50px;
    background-color: grey;
    margin: 0px;
    float: left;
    vertical-align: middle;
}

.about-txt {
    margin: 0px;
    font-size: clamp(16px, 1.975vw + 8.296px, 32px);
    font-weight: 200;
    text-align: left;
}

.title-2 {
    margin-top: 200px;
    margin-bottom: 20px;
}

.emphasis {
    color: #9748E5;
}
