.Navbar {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 2px 5px rgb(37, 37, 37);
    font-weight: 300;
    font-size: 20px;
    padding: 0px 25%;
    background-color: #3d3d3d;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    transition: transform .25s ease-out;
    backdrop-filter: blur(10px);
    background-color: rgba(61, 61, 61, .8);
}

.Navbar.hidden {
    transform: translateY(-100%);
}

@media screen and (min-width: 650px) and (max-width: 1440px) {
    .Navbar {
        padding: 0px 12.5%;
        width: 75%;
    }
}

.links {
    display: inline-block;
    padding-left: 20px;
    list-style: none;
}

.links li {
    display: inline;
    padding: .5em;
    transition: .25s ease-in;
}

.links .glow {
    transition: .25s ease-in-out;
}

.links .glow:hover {
    text-shadow: 0px 0px 10px #9748E5;
}

.logo {
    height: 32px;
    margin-top: 4px;
}


/* want to put in but have to change resume button */
/* .links li:hover {
    background-color: #9748E5;
} */


@media screen and (max-width: 649px) {
    .Navbar {
        padding: 0px 10px;
        width: calc(100vw - 40px);
    }
    .logo {
        margin-left: 10px;
    }
    .hamburger-menu {
        display: flex;
        margin-right: 10px;
    }
    .links {
        display: none;
    }
}

.hamburger-menu {
    width: 2rem;
    height: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 12;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.hamburger-menu.close span:nth-child(1) {
    transform-origin: left center;
    transform: translateX(1px) translateY(-3px) rotate(45deg);
}

.hamburger-menu.close span:nth-child(2) {
    opacity: 0;
    width: 0;
}

.hamburger-menu.close span:nth-child(3) {
    transform-origin: left center;
    transform: translateX(1px) translateY(-1.5px) rotate(-45deg);
}

.bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 20%;
    transition: .25s ease-in;
}

.overlay {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    transition: opacity .25s ease-in;
    opacity: 0.6;
    width: 120vw;
    height: 120vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
}

.overlay.hidden {
    opacity: 0;
}

.side-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    width: 66vw;
    position: fixed;
    background-color: black;
    right: 0;
    top: 0;
    z-index: 11;
    box-shadow: 1px 2px 5px rgb(37, 37, 37);
    backdrop-filter: blur(10px);
    background-color: rgba(61, 61, 61, .8);
    transition: .25s ease-in;
}

.side-menu.hidden {
    transform: translateX(100%);
}

.sidebar-links {
    margin-bottom: 10em;
    width: 100%;
    padding: 0;
}

.sidebar-links li {
    display: block;
    font-size: 48px;
    text-align: left;
}

.sidebar-links a {
    width: 100%;
    height: 100%;
    display: block;
    padding: .5em;
    transition: .25s ease-in;
}

.sidebar-links > li:nth-child(1) {
    color: #9748E5;
    font-weight: 300;
    padding: .5em;
}

.sidebar-links li:hover:nth-child(n+2) > a {
    background-color: #9748E5;
    padding-left: 1.5em;
}
